@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
}

.header h1 {
    text-transform: uppercase;
}

.image-container {   
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;  
}

.navigation ul li {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: inline-block;
    margin: 2rem;
}

.footer ul a {
    color: #777;
    text-decoration: none;
}


@media (min-width: 480px) {

    .tablet {
        display: none;
    }

    .laptop {
        display: none;
    }

    .desktop {
        display: none;
    }

    .container {
        background-color: rgba(237, 159, 251, 0.623);
        color: rgb(44, 21, 4);
        width: 100%;
        border: 3px solid rgb(24, 11, 1);
    }

    .image-container {
        background-image: url('../img/profile1.jpg');
    }


    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
    }

    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }
    
}


@media (min-width: 768px) {

    .smartphone {
        display: none;
    }

    .tablet {
        display: block;
    }


    .container {
        background-color: rgba(13, 77, 19, 0.392);
        color: rgba(211, 38, 90, 0.454);
        width: 100%;
        border: 3px solid rgb(202, 22, 22);
    }

    .image-container {
        background-image: url('../img/profile2.jpg');
    }


    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
    }

    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }
}


@media (min-width: 1024px){
        
    .laptop {
        display: block;
    }

    .tablet {
        display: none;
    }

    .container {
        background-color: rgba(51, 221, 230, 0.317);
        color: rgb(243, 140, 14);
        width: 100%;
        border: 3px solid rgb(138, 204, 5);
    }

    .image-container {
        background-image: url('../img/profile3.jpg');
    }


    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
    }

    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }
    

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }
}


@media (min-width: 1200px){
    
    .laptop {
        display: none;
    }

    .desktop{
        display: block;
    }

    .container {
        background-color: rgb(236, 17, 247);
        color: rgb(38, 7, 88);
        width: 100%;
        border: 3px solid rgb(1, 9, 33);
    }

    .image-container {
        background-image: url('../img/profile4.jpg');
    }

    .header h1 {
        margin: 3rem auto;
    }
    .navigation ul li {
        display: inline-block;
        width: 16rem;
    }
    
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid black;
        margin-right: 4rem;
    }

    .main-container {
        width: 75%;
    }

}